<label [attr.for]="input.key" class="block">
    {{input.label}}
</label>
<div class="w-full" [ngSwitch]="input.type">
    <input *ngSwitchCase="'string'" [placeholder]="input.placeholder"
        [(ngModel)]="input.value" class="{{inputClass}}" [id]="input.key" type="text">

    <select *ngSwitchCase="'enum'" class="{{inputClass}}" [placeholder]="input.placeholder"
    [(ngModel)]="input.value" [id]="input.key">
        <option [ngValue]="undefined" [disabled]="true">Select...</option>
        <option *ngFor="let item of input.enumValues" [value]="item">
            {{item}}
        </option>
    </select>
    <!-- <app-lightbox *ngSwitchCase="'lightbox'" [currentImage]="input.value" [lightboxData]="input.lightboxData"></app-lightbox> -->
</div>
