<div class="d-flex flex-column flex-root">
    <div class="
            d-flex
            flex-column flex-column-fluid
            bgi-position-y-bottom
            position-x-center
            bgi-no-repeat bgi-size-contain bgi-attachment-fixed">
        <div class="d-flex flex-center flex-column flex-column-fluid p-10">
            <div class="login-form">
                <!--begin::Form-->
                <!-- <app-pi-forms [getFormObjectUrl]="'https://localhost:6000/form'" [inspectionId]="1234" (formChange)="getFormData($event)"></app-pi-forms> -->
                <app-pi-forms [useUrl]="false" [fields]="fields" (formChanges)="getFormData($event)"></app-pi-forms>
                <!--end::Form-->

            </div>
        </div>
        <!--end::Content-->
    </div>
</div>
