
    <section>
        <div id="search-box">
            <div id="search-box-container">
                <div id="search-bar">
                    <input type="text" placeholder="Search...">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="header-btns">
                    <a href="#" class="btn1">Complete</a>
                    <a href="#" class="btn2">Update</a>
                    <a href="#" class="btn3">Close</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="client-card">
            <div class="client-container">
                <div class="card">
                    <div class="card-header">
                        <div class="notification">
                            <p>10</p>
                        </div>
                        <i class="fa-solid fa-file"></i>
                        <h4>Reports</h4>
                    </div>
                    <div class="client-info">
                        <div class="img">
                            <img src="./img/home.jpg" alt="">
                        </div>
                        <div class="bar"></div>
                        <div class="client-detail">
                            <h3>Kennen Palm</h3>
                            <p>121 Happy Way</p>
                            <p>Woodstock, GA 12111</p>
                            <p>615-419-6646</p>
                            <P>kenn@kennpalm.com</P>
                        </div>
                    </div>
                    <div class="bottom">
                        <div class="bottom-container">
                            <div class="text">
                                <i class="fa-solid fa-message"></i>
                                <p>Note: Call Client before arriving!</p>
                            </div>
                            <a href="#" class="btns-click">+ 5 More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
