<app-header></app-header>
    <section>
        <div class="row p-5">
          <div class="col-3 p-4">
            <input type="text" placeholder="Search..." class="rounded-[15px] p-5 w-full shadow-md">
          </div>
          <!-- ... -->
          <div class="col-3 p-4">
            <button class="btn-success p-5 rounded w-full text-center"> Complete </button>
          </div>
          <div class="col-3 p-4">
            <button class="btn-primary p-5 rounded w-full text-center"> Update </button>
          </div>
          <div class="col-3 p-4">
            <button class="btn-danger p-5 rounded w-full text-center"> Close </button>
          </div>

          </div>
    </section>

    <section>
        <div class="p-5" routerLink="view-job">
            <button class="absolute d-inline-flex align-items-center justify-between p-2 rounded-full ml-[91%] mt-[-20px] z-50 px-4 py-2 bg-[#CDDBE2]"> 10 </button>
            <div class="card">
                <div class="row p-6 pb-0">
                    <div class="col-2 border-r-[2px] border-[#DEDEDE]">
                        <div class="bg-[url('{{ env.assets }}/login/login-bg.jpg')] rounded-full bg-top bg-cover w-[100px] h-[100px]">
                        </div>
                    </div>
                    <div class="col-7">
                        <div class="pl-[20px]">
                            <h2>Kennen Palm</h2>
                            <p>
                                121 Happy Way,<br>
                                Woodstock, GA 12111 <br>
                                615-419-6646<br>
                                kenn@kennpalm.com
                            </p>
                        </div>
                    </div>
                    <div class="col-3 text-right">
                        <p class="text-[#004263] font-semibold  ">Reports <i class="fas fa-file text-[#004263]"></i> </p>
                        <p><i class="fas fa-chevron-right text-[#CDDBE2] text-7xl mt-6"></i></p>
                    </div>
                </div>
            </div>
            <div class="p-4 bg-[#EEDDB2]">
                <span>
                    <i class="fas fa-comment-alt"></i> Note: Call Client before arriving!
                </span>
                <span class="border-b-[1.5px] border-black/[.40] float-right">
                    +5 More
                </span>
            </div>
        </div>
    </section>
    <section>
        <div class="row p-40 py-0">
            <div class="col-6">
                <button class="btn-primary p-5 rounded w-full text-center">Start Drive</button>
            </div>
            <div class="col-6">
                <button class="btn-primary p-5 rounded w-full text-center">Clock In</button>
            </div>
        </div>
    </section>

    <section>
        <mdb-tabs>
          <mdb-tab title="Inspection">
              <app-inspection></app-inspection>
          </mdb-tab>
          <mdb-tab title="Notes">
              <app-notes></app-notes>
          </mdb-tab>
          <mdb-tab title="Interior">
              <app-photos></app-photos>
          </mdb-tab>
          <mdb-tab title="Exterior">
            <app-photos></app-photos>
        </mdb-tab>
        <mdb-tab title="Hover">
            <app-photos></app-photos>
        </mdb-tab>
        </mdb-tabs>
    </section>
