<div class="bg-[url('{{ env.assets }}/login/login-bg.jpg')] h-screen bg-top bg-cover"> 
 <app-header></app-header>

<div class="container mx-auto mt-10 p-10 col-md-9 col-lg-6">
  <div class="bg-black/[.7] p-5 rounded-[20px]">
   <div class="bg-[#E8E9E9] p-10 rounded-[20px]">
    <h2 class="p-[6px] border-b-[1px] border-[black]/[.5] ">
      Account Login.
    </h2>
    
    <div class="">
      <input type="text" class="form-control rounded-[15px] mt-5" placeholder="Username:">
      <input type="password" class="form-control rounded-[15px] mt-5" placeholder="Password:">
      <button class="text-left btn mt-10 btn-primary w-full d-inline-flex align-items-center justify-between  ">Login <i class="fas fa-arrow-right"></i></button>
    </div>
   </div>
 </div>
</div>
</div>