<div class="w-full">
    <lightgallery [onInit]="onInit" [settings]="settings" [onBeforeSlide]="onBeforeSlide" class="flex justify-center">

        <a class="gallery-item" *ngFor="let item of files"
        [attr.href]="item"
        data-responsive="{{item}}"
        data-sub-html="Sample">
        <img class="img-responsive"
          src="{{item}}" />
      </a>
    </lightgallery>
    <ng-container *ngIf="files.length === 0">
        <div class="flex justify-center w-full">
            <label class="text-3xl py-40">
               Please No Images Selected
            </label>
        </div>
    </ng-container>
    <input class="form-control" type="file" #document
    (change)="onFileChange($event)" accept="{{accepts}}" multiple hidden>
    <div class="flex w-full justify-center">
     <button (click)="document.click()"
          class="btn btn-success">
          Upload
      </button>
    </div>
</div>

