<div>
    <h3>Received Data:</h3>
    <div>
        <p>{{ currentImage?.title }}</p>
        <p>{{ currentImage?.description }}</p>
    </div>
</div>
<div class="w-full">
    <lightgallery [onInit]="onInit" [settings]="settings" [onBeforeSlide]="onBeforeSlide" class="flex justify-center">
        <a class="gallery-item" *ngFor="let item of lightboxData"
        [attr.href]="item.href"
        data-responsive="{{item.href}}"
        data-sub-html="{{item.title}}">
        <img class="img-responsive"
          src="{{item.href}}" />
      </a>
    </lightgallery>
    <ng-container *ngIf="lightboxData.length === 0">
        <div class="flex justify-center w-full">
            <label class="text-3xl py-40">
               Please No Images Selected
            </label>
        </div>
    </ng-container>
    <input class="form-control" type="file" #document
    (change)="onFileChange($event)" accept="{{accepts}}" hidden>
    <div class="flex w-full justify-center">
     <button (click)="document.click()"
          class="btn btn-success">
          Upload
      </button>
    </div>
</div>

